*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgb(230, 239, 244);
}
.gujrat{
    position: relative;
    height: 500px;
    border: 2px solid grey;
    width: 100%;
    z-index: -1;
   
}
.quote h1{
    position: absolute;
    color: white;
    
    font-family:cursive;
    font-size: 140px;
    bottom: 74%;
    left: 28%; 
} 
.quote p{
    position: absolute;
    color: rgb(234, 230, 230);
    font-family: cursive;
    font-size: 40px;
    font-weight: 400;
    bottom: 300px;
    text-align: center;
    left: 40px;
}
.intro{
    
    color: rgb(2, 2, 54);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
    position: relative;
    justify-content: center;
    top: 80px;
    margin: 3px;
    /* overflow-x: scroll; */
    

}
.categories{
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 50px;
    color: rgb(11, 2, 41);
}

.card {
     width: 350px;
    height: 400px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img img {
    background-size: cover;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    
   }
   
   .card-info {
    padding-top: 5%;
   }
   
   
   
   
   
   /*Text*/
   .text-title {
    font-weight: bold;
    font-size: 25px;
    font-family: cursive;
    text-align: center;
   
   }
   
   .text-body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
   }
   .Maharashtra h1{
    position: absolute;
    color: white;
    
    font-family:cursive;
    font-size: 140px;
    bottom: 74%;
    left: 11%; 
}
.Maharashtra p{
    position: absolute;
    color: rgb(234, 230, 230);
    font-family: cursive;
    font-size: 40px;
    font-weight: 400;
    bottom: 280px;
    text-align: center;
    left: 28%;
}
.Karnataka h1{
    position: absolute;
    color: white;
    
    font-family:cursive;
    font-size: 140px;
    bottom: 74%;
    left: 20%; 
}
.Karnataka p{
    position: absolute;
    color: rgb(234, 230, 230);
    font-family: cursive;
    font-size: 40px;
    font-weight: 400;
    bottom: 250px;
    text-align: center;
    left: 32%;
}
.up h1{
    position: absolute;
    color: white;
    
    font-family:cursive;
    font-size: 140px;
    bottom: 74%;
    left: 20%; 
}
.up p{
    position: absolute;
    color: rgb(234, 230, 230);
    font-family: cursive;
    font-size: 40px;
    font-weight: 400;
    bottom: 250px;
    text-align: center;
    left: 24%;
}
.tamil h1{
    position: absolute;
    color: white;
    
    font-family:cursive;
    font-size: 140px;
    bottom: 74%;
    left: 17%; 
}
.tamil p{
    position: absolute;
    color: rgb(234, 230, 230);
    font-family: cursive;
    font-size: 40px;
    font-weight: 400;
    bottom: 250px;
    text-align: center;
    left: 27%;
}
#jk h1{
    font-size: 100px;
    left: 17%;
}
#jk p{
    left: 30%;
}
#hp h1{
    font-size: 110px;
    left: 17%;
}
#hp p{
    left: 19%;
    
}
#pun p{
    left: 18%;
}
#uttar h1{
    font-size: 110px;
    left: 21%;
}
#uttar p{
    left: 28%;
    
}
#har p{
    left: 21%;
}
#har h1{
    
    left: 26%;
}
#raj p{
    left: 11%;
    
}
#raj h1{
    
    left: 19%;
}
.goa h1{
    position: absolute;
    color: white;
    
    font-family:cursive;
    font-size: 140px;
    bottom: 74%;
    left: 37%; 
}
.goa p{
    position: absolute;
    color: rgb(59, 9, 9);
    font-family: cursive;
    font-size: 40px;
    font-weight: 400;
    bottom: 250px;
    text-align: center;
    left: 33%;
}
#tel h1{
    left: 18%;
}
#tel p{
    left: 26%;
}
#ap h1{
    font-size: 110px;
    left: 21%;
}
#ap p{
    left: 20%;
    
}
#odi p{
    left: 26%;

}
#chat h1{
    left: 14%;
}
#chat p{
    left: 12%;
}
#jhar h1{
    left: 20%;
}
#jhar p{
    left: 26%;
}
#wb h1{
    left: 20%;
}
#wb p{
    left: 15%;
}
#bihar h1{
    left: 33%;
}
#arp h1{
    font-size: 110px;
left: 17%;
}
#arp p{
left: 10%;
}
#meg h1{
    left: 20%;
}
#meg p{
    left: 26%;
}
#nag h1{
    left: 24%;
}
#nag p{
    left: 16%;
}
#miz h1{
    left: 25%;
}
#miz p{
    left: 14%;
    margin-bottom: 80px;
}










   
  
   
   
   
  
   